body {
    margin: 0;
    background-image: url(space-stars-star-wars-backgrounds-textures-106f3e.png);
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#scroll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    position: relative;
    animation-name: slide;
    animation-iteration-count: infinite;
    perspective: 1000px;
    margin: 0 auto;
}

#perspective {
    position: relative;
    transform-origin: 50% 100%;
    animation: slide 70s linear infinite;
}

img {
    max-width: 95%;
}

header {
    display: flex;
    max-width: 100%;
    font-size: 3em;
    align-items: center;
}

main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Text {
    margin: 0 auto;
    color: #EDB000;
    width: 50%;
    justify-content: center;
}

p {
    margin-bottom: 50px;
    font-size: 2em;
}

h2 {
    color: #0E7487;
    margin: auto;
    font-size: 5em;
    justify-content: center;
}

h1 {
    display: flex;    
    font-size: 3em;
    justify-content: center;
    margin: auto;
}

@keyframes slide {
    0% {
        transform: rotateX(20deg) translateY(50%);
    }

    100% {
        transform: rotateX(25deg) translateY(-100%);
    }
}

audio {
    position: fixed;
    top: 0;
    left:
}
