body {
    margin: 0;
    background-image: url(space-stars-star-wars-backgrounds-textures-106f3e.png);
    /*background-color:black;
    background-image:
        radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
        radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
        radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
        radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    */
}

#scroll {
    position: absolute;
    animation-name: slide;
    animation-duration: 20s;
}

img {
    max-width: 95%;
    animation-name: push;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    font-size: 3em;
    animation-name: fade;
}

main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Text {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #EDB000;
    transform: rotate3d(1, 0, 0, 30deg);
    width: 50%;
    font-size: 1.5em;
}

h2 {
    color: #0E7487;
}

@keyframes slide {
    0% {
        top: 0%;
    }

    100% {
        top: -350%;
    }
}
